@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Quicksand:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

section div {
    position: relative;
    width: 100%;
    background: black;
    overflow: hidden;
}

section div:nth-child(1) {
    position: relative;
    width: 50%;
    background:radial-gradient(center center, circle, #1162ac);;
    background-size: cover;
    overflow: hidden;
}

section div:nth-child(1) h2 {
    --webkit-text-stroke: 3px;
    --webkit-text-stroke-color: black;
    --webkit-text-fill-color: transparent;
    left: 100%;
}

section div h2 {
    position: absolute;
    white-space: nowrap;
    font-size: 12em;
    line-height: 100vh;
    animation: animate 15s linear infinite;
    color: white;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}